.gradle/
build/
/local.properties
/keystore.properties
/keystore/
.idea/
*.iml
.DS_Store
/captures
.externalNativeBuild
.cxx
.cache/
google-services.json
*.apk
*.aab
service-account*.json
*-service-account.json
